<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.buildingcompany.mappers.AddressMapper">
  <sql id="addressCols">${alias}.id,${alias}.line_1 as "line1",${alias}.line_2 as "line2",${alias}.line_3 as "line3",${alias}.zipcode as "zipCode"</sql>

  <resultMap id="addressResult" type="Address">
    <association property="country" column="country_id" select="selectCountryName"/>
    <association property="city" column="city_id" select="selectCityName"/>
  </resultMap>

  <select id="selectCountryName" resultType="String">
    SELECT name FROM country WHERE id=#{id}
  </select>
  <select id="selectCityName" resultType="String">
    SELECT name FROM city WHERE id=#{id}
  </select>

  <select id="selectAddress" resultType="Address" resultMap="addressResult">
    SELECT 
      <include refid="addressCols"><property name="alias" value="address"/></include>,
      country_id,
      city_id
    FROM address WHERE address.id=#{id}
  </select>

</mapper>