<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.buildingcompany.dao.mybatis.mappers.BuildingTypeMapper">
  <sql id="buildingTypeCols">${alias}.id as "id",${alias}.name as "name",${alias}.base_cost as "baseCost"</sql>

  <resultMap id="buildingTypeResult" type="BuildingType">
    <collection property="requiredMaterialAmounts" ofType="com.buildingcompany.entities.BuildingTypeAmounts" column="id" select="selectMaterialReqs"></collection>
    <collection property="requiredToolRentalHours" ofType="com.buildingcompany.entities.BuildingTypeAmounts" column="id" select="selectToolReqs"></collection>
  </resultMap>

  <resultMap id="materialReqResult" type="com.buildingcompany.entities.BuildingTypeAmounts">
    <result property="foundationAmountPerProjectSqrMeter" column="foundation_amount_per_sqrmeter" javaType="BigDecimal"/>
    <result property="amountPerProjectSqrMeter" column="amount_per_sqrmeter" javaType="BigDecimal"/>
    <association property="object" column="material_id" javaType="Material" select="com.buildingcompany.dao.mybatis.mappers.MaterialMapper.selectMaterial"></association>
  </resultMap>

  <resultMap id="toolReqResult" type="com.buildingcompany.entities.BuildingTypeAmounts">
    <result property="foundationAmountPerProjectSqrMeter" column="foundation_hours_of_rental_per_sqrmeter" javaType="BigDecimal"/>
    <result property="amountPerProjectSqrMeter" column="hours_of_rental_per_sqrmeter" javaType="BigDecimal"/>
    <association property="object" column="tool_id" javaType="Tool" select="com.buildingcompany.dao.mybatis.mappers.ToolMapper.selectTool"></association>
  </resultMap>

  <select id="selectMaterialReqs" resultMap="materialReqResult">
    SELECT foundation_amount_per_sqrmeter,amount_per_sqrmeter,material_id
    FROM building_type_material_req
    WHERE building_type_id=#{id}
  </select>

  <select id="selectToolReqs" resultMap="toolReqResult">
    SELECT foundation_hours_of_rental_per_sqrmeter,hours_of_rental_per_sqrmeter,tool_id
    FROM building_type_tool_req
    WHERE building_type_id=#{id}
  </select>

  <select id="selectBuildingType" resultType="BuildingType" resultMap="buildingTypeResult">
    SELECT <include refid="buildingTypeCols"><property name="alias" value="building_type"/></include>
    FROM building_type WHERE building_type.id=#{id}
  </select>

  <select id="selectBuildingTypeByName" resultType="BuildingType" resultMap="buildingTypeResult">
    SELECT <include refid="buildingTypeCols"><property name="alias" value="building_type"/></include>
    FROM building_type WHERE building_type.name=#{name}
  </select>

  <select id="selectBuildingTypeNames" resultType="String">
    SELECT DISTINCT building_type.name FROM building_type
  </select>

</mapper>