<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
 
<suite name="Suite1" verbose="1" parallel="tests" thread-count="12">
  <test name="Unit1">
   <classes>
    <class name="com.buildingcompany.services.jdbc.MySqlConnectionTest"/>
    <class name="com.buildingcompany.services.DAOFactoryTest"/>
   </classes>
 </test>
</suite>